<!-- {% extends 'base.html' %}
{% block head %} -->
<title>Daftar Buku</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<!-- {% endblock %}

{% block body %} -->


<br>
<br>

<div>
    <h1 style="display:inline">Home Page</h1>
    <br>
    <br>
    <button onclick="getResources()">Show book</button>
    <a style="display:inline" class="btn btn-success float-right" href="/create" >+ New Book</a>
</div>

</div>



<script src="<?=BASE_URL;?>js/popper.min.js"></script>
<script src="<?=BASE_URL;?>js/bootstrap.min.js"></script>

<body>
    <div class="container">
        <h1 class="display-3">Resources List</h1>
        <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Title</th>
                    <th scope="col">Author</th>
                    <th scope="col">Number of Pages</th>
                    <th scope="col">Book Types</th>
                    <th scope="col">Date Published</th>
                </tr>
            </thead>
            <tbody id="hasil"></tbody>
        </table>
        </div>
    </div>
</body>
<script>
    function getResources() {
        content = "";
        $.ajax({
            url: '/user',
            type: 'get',
            crossDomain: true,
            dataType: 'json',
            success: function (response) {
                console.log(response);
                $.each(response.hasil.slice(0,501), function (key,value) {
                    content += "<tr><td>" + value.id + "</td><td>" + value.title + "</td><td>" + value.author + "</td><td>" + value.totalpages + "</td><td>" + value.type + "</td><td>" + value.published +"</td></tr>";
                });
                $('#hasil').html(content);
            },
            error: function (response) {
                console.log(response);
            }
        })
    }
    $(document).ready(
        function() {
            getResources();
        }
    );
</script>

<!-- Footer -->
<style>
    .footer {
        position: fixed; 
        bottom: 0; 
        width: 100%; 
    }
    </style>
    <footer class="footer" style="background-color: #080E2c; padding: 1rem; margin-top: 18rem;">
        <div class="container my-auto" style="color: #FFF;">
        <div class="copyright text-center my-auto">
            <span>Copyright &copy; Elisabeth Levana <script>document.write(new Date().getFullYear());</script></span><br>
        </div>
        </div>
    </footer>
<!-- {% endblock %} -->